body {
background-color: rgb(241, 241, 241);
font-family: 'Segoe UI', Tahoma, sans-serif;
color: rgb(68, 68, 68);
}

#center {
width: 658px;
height: 280px;
min-height: 280px;
position: absolute;
top: 0px;
bottom: 0px;
left: 0px;
right: 0px;
margin: auto;
border-radius: 2px;
box-shadow: rgba(50, 50, 50, 0.137255) 0px 4px 6px 1px;
box-sizing: border-box;
padding: 40px 35px 30px 47px;
}
#title {
font-size: 24px;
}

#center-left {
width: 128px;
float: left;
padding-right: 10px;
}

#center-right {
width: 570px;
}
#content {
font-size: 18px;
}


#center-below {
width: 460px;
margin-left: auto;
margin-right: auto;
padding-top: 40px;
}
#btnSubmit {
border: 1px solid rgb(66, 133, 244);
border-top-left-radius: 4px;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;
background: -webkit-linear-gradient(top, rgb(67, 135, 253), rgb(70, 131, 234));
font: 13px/28px Arial, sans-serif;
padding: 0px 12px;
color: rgb(255, 255, 255);
margin-left: 25px;
width: 80px;
}

#helpbutton {
color: rgb(142, 142, 142);
font-size: 14px;
}
#help {
padding-top: 30px;
display: none;
color: rgb(142, 142, 142);
font-size: 14px;
}

