@font-face {
  font-family: 'lucy';
  src: url('../fonts/segoeui.ttf');
}
@font-face {
  font-family: 'lucy-b';
  src: url('../fonts/segoeui-bold.ttf');
}
*{
	color: #333;
	-webkit-appearance: none;
	margin: 0;
	padding: 0;
	font-family: 'lucy';
}
*:active,
*:focus{
	-webkit-appearance: none;
}
textarea, 
input{ 
	outline: none;
	background: rgb(248,248,248) !important;
}
.container .window{
	transition: all .3s ease;
	transform: none;
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	background: rgb(248,248,248) !important;
	position: absolute;
	left: 50%;
	margin-left: -200px;
	width: 400px;
	height: auto;
	border-radius: 0 0 3px 3px;
	border: 1px solid rgb(180,180,180);
	border-top: none;
	box-shadow: 0 2px 1px 0px rgba(0,0,0,.25);
	top: 0;
}
.faded{
	transform: perspective(900px) rotateX(30deg) !important;
	-webkit-transform: perspective(900px) rotateX(30deg) !important;
	-moz-transform: perspective(900px) rotateX(30deg) !important;
	-ms-transform: perspective(900px) rotateX(30deg) !important;
	-o-transform: perspective(900px) rotateX(30deg) !important;
	opacity: 0;
	top: -60px !important;
}
.container .window h1{
	font-size: 18px;
	color: #000;
	padding: 14px 20px 22px 20px;
	font-weight: 300;
}
.container .window p{
	font-size: 14px;
	line-height: 17px;
	padding-left: 20px;
	max-width: 360px;
}
.container .window p span{
	font-family: 'lucy-b';
}
.container .window input[type=button]{
	background: rgb(248,248,248) !important;
	float: right;
	height: 30px;
	font-size: 13px;
	width: 80px;
	border: 1px solid rgb(180,180,180);
	box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
	border-radius: 2px;
	margin: 0;
	margin-left: 10px;
	margin-bottom: 20px;
	padding: 0;
	line-height: 0;
}
.container .window input[type=button]:active{
	background: rgb(215,215,215) !important;
	box-shadow: none;
}
.container .window input[type=button]:first-of-type{
	margin-right: 22px;
}
.container .window input[type=button]:last-of-type{
	color: #000;
}
.container .window input[type=text],
.container .window input[type=password]{
	height: 22px;
	border: 1px solid #d9d9d9;
	font-size: 13px;
	line-height: 22px !important;
	padding: 0 5px;
	width: 200px;
}
.container .window input[type=text]:focus,
.container .window input[type=password]:focus{
	border: 1px solid #4d90fe;
}
.container .window input[name=login]{
	font-family: 'lucy-b';
}
.container .window table{
	width: 72%;
	margin: 20px 14%;
	padding-bottom: 14px;
}
.container .window table tr td{
	width: 100%;
	font-size: 14px;
	line-height: 30px;
}
.dump{
	display: none;
}
