body {
    background-image: url(bg.jpg);
    font-family: Arial, sans-serif;
    font-size: 12px;
    background-color: #8EB9DB;
    background-repeat: repeat-x;
    background-position: center top;
    margin: 0px;
    background-attachment: fixed;
}

strong {
    background-color: #fc6;
    padding: 1px 2px 2px 1px;
}

#header {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#header-left {
    background-color: white;
    float: left;
}

#header-right {
    float: right;
    font-size: 30px;
    padding-right: 400px;
    padding-top: 30px; 
}

#bottom {
    background-color: #1F2120;
    padding-top: 5px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}


#top-header {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #1F2120;
    color: white;
    width: 800px;
    font-size: 12px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

#content {
    padding-top: 10px;
    padding-bottom: 30px; 
    width: 800px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

.top-right {
    float: right;
}


img {
}


#content {

}


#logo {
    padding-left: 10px;
}

#content table {
    border: 1px black solid;
    width: 700px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

#warning th {
    background-color: #AD1010;
}

th {   
    font-size: 10px;
    padding: 5px 10px 5px 10px;
    text-align: left;
    background-color: #1F2120;
    color: white;
}

td {
    padding: 5px 10px 5px 10px;
}
