body {
    background-image: url(bg.jpg);
    font-family: Arial, sans-serif;
    font-size: 12px;
    background-color: #8EB9DB;
    background-repeat: repeat-x;
    background-position: center top;
    margin: 0px;
    background-attachment: fixed;

}

strong {
    background-color: #fc6;
    padding: 1px 2px 2px 1px;
}

#header {
    position:relative;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#header-left {
    position: absolute;
    top:0px;
    left:5px;
    float: left;
}

#header-right {
    position: absolute;
    top: 0px;
    right:0px;
    float: right;
    font-size: 32px;
    padding-right: 370px;
    padding-top: 33px; 
    color: #f1eff0;
    font-weight: bold;
    
}

#bottom {
    background-color: #1F2120;
    padding-top: 5px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#copyright {
    font-size: 11px;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    padding: 10px 0 10px 0;
}

#top-header {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #1F2120;
    color: white;
    width: 800px;
    font-size: 12px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

#content {
    padding-top: 10px;
    padding-bottom: 30px; 
    width: 800px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

.top-right {
    float: right;
}


img {
}


#content {

}


#logo {
    padding-left: 10px;
}

#content table {
    border: 1px black solid;
    width: 750px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

#warning th {
    background-color: #AD1010;
}

th {   
    font-size: 10px;
    padding: 5px 10px 5px 10px;
    text-align: left;
    background-color: #1F2120;
    color: white;
}

td {
    padding: 5px 10px 5px 10px;
}
